<div id="corridas">

    <h1>Corridas Disponíveis</h1>

    <div id="tabela-container">

        <table>

            <thead>

                <tr>
                    <th>Descrição</th>
                    <th>Data</th>
                    <th>Distâncias</th>
                    <th>Ação</th>
                </tr>

            </thead>

            <tbody>

                <tr *ngFor="let corrida of corridas">

                    <td>
                        {{ corrida.descricao }}
                    </td>

                    <td>
                        {{ corrida.data }}
                    </td>

                    <td>
                        {{ corrida.distancias }}
                    </td>

                    <td>

                        <button
                            type="button"
                            class="btnInscrever"
                            (click)="inscrever(corrida)">
                            Inscrever-se
                        </button>

                    </td>

                </tr>

                <tr *ngIf="corridas.length === 0">

                    <td
                        colspan="4"
                        class="sem-corridas">

                        Nenhuma corrida cadastrada.

                    </td>

                </tr>

            </tbody>

        </table>

    </div>

</div>