<nav>
    <div class="menu-container">

        <a routerLink="/home" class="logo">
            Esporte ArLivre
        </a>

        <ul class="menu-links">
            <li><a routerLink="/home">Home</a></li>
            <li><a routerLink="/cadastroatleta">Cadastro Atleta</a></li>
            <li><a routerLink="/cadastrocorridas">Cadastro Corridas</a></li>
            <li><a routerLink="/corridas">Corridas</a></li>
            <li><a routerLink="/inscricoes">Inscrições</a></li>
        </ul>

    </div>
</nav>
