#cabecalho,
#ul-menu,
#logo {
    display: flex;
    align-items: center;
}

#ul-menu,
#logo {
    height: 100%;
}

#cabecalho {
    width: 1000px;
    height: 100px;
    margin: 20px auto;
    padding: 25px;
    background-color: #fff7fa;
    justify-content: space-between;
    color: #79515f;
    border-bottom: 1px solid #f0bfd0;
    box-shadow: 0 3px 10px rgba(199, 125, 155, 0.15);
    border-radius: 5px;
}

#logo {
    width: 30%;
    font-size: 25px;
    white-space: nowrap;
}

#titulo-logo {
    color: #6f3d50;
    border: 1px solid #f0bfd0;
    margin: 0px 10px;
    padding: 5px 10px;
    border-radius: 3px;
}

#menu {
    width: 70%;
}

#ul-menu {
    list-style: none;
    justify-content: right;
    gap: 5px;
}

.lnk-menu {
    display: block;
    color: #79515f;
    text-decoration: none;
    margin: 0px 5px;
    padding: 10px 12px;
    transition: 0.3s ease;
    font-size: 17px;
    border-radius: 20px;
    white-space: nowrap;
}

.lnk-menu:hover {
    background-color: #f4c6d7;
    color: #6f3d50;
}