@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Roboto;
}

:root {
    --cor-primaria: #C92F68;
    --cor-secundaria: #E94F87;

    --cor01: #8F2149;
    --cor02: #FFDCE7;

    --botao01: #E94F87;
    --botao02: #8F2149;

    --branca: #FFFFFF;
}